#box{
    height: 100px;
    width: 300px;
    background-color: pink;
    animation-name: fontanimation;
    
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 3;
    animation-direction:normal;
}
#box1{
    height: 100px;
    width: 300px;
    background-color: pink;
  
    animation-name: coloranimation;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 3;
    animation-direction:normal;
}

@keyframes fontanimation{
    from{font-size:20px;}
    to{font-size:40px;}
}
@keyframes coloranimation{
    from{background-color:pink;}
    to{background-color:red;}
}