#maintopic{
    color: blue;
}
*{
    text-align: center;
}
h1,h2,h3,h4,h5{
    font-family: "Georgia";
}
.content{
    color: rgb(222, 222, 227);
    background-color: cornflowerblue;
}
div button{
    background-color: purple;
    color: azure;
}
button:hover{
    background-color: yellow;
    color: blue;
}
p:nth-of-type(2n+1){
    color: red;
}
h1::first-letter{
    color: red;
}
#yes:checked+label{
    color: darkgreen;
}