div{
    height: 300px;
    width: 200px;
    border-width: 2px;
    border-style: solid;
    border-color:black;
    background-color: pink;
    border-top:  yellow dashed;
    border-right: 20px darkgreen  solid;
    border-radius: 20px;
    border-top-left-radius: 25px;
    padding: 20px;
    /*display: inline-block;*/
    
   
}
h1{
    
    border-width: 2px;
    border-style: dashed;
    border-color:rgb(73, 5, 5);
    background-color: rgb(209, 8, 41);
    
   
}
button{
    border-style: 2px solid blue;
    border-radius: 20px;
    background-color: yellow;

    
}
#outer{
    height: 200px;
    width: 70px;
    border: 2px solid black;
    background-color: lightpink;
}
