.container{
    width: 600px;
    height: 300px;
    background-color: rgb(1, 6, 6);
    display: grid;
    /*grid-template-rows: 50px;
    grid-template-columns: auto;*/
    grid-template-rows: repeat(5,1fr);
    row-gap: 10px;
    column-gap: 10px;

}
.item{
    width: 100px;
    height: 50px;
    background-color: yellow;
    border: 2px solid black;
    text-align: center;
    place-items:self;
    justify-content: center;
}
.one{
    grid-column-start: 1;
    grid-column-end: 3;
    /*grid-column: 1/3;*/
}
h1{
 color: chocolate;
}
h3{
    color: rgb(6, 68, 68);
}
h2{

    color: rgb(229, 26, 77);
}
