body{
    background-color: rgb(242, 170, 199);
    margin: 0;
    padding: 20px;

   
}
h1{
    text-align: center;
    color: #7a1a5c;
}
.parent{
    background-color: rgb(246, 150, 188);
   width: 100%;
   height: 47vh;
   display: flex;
   border-radius: 30PX;
   margin: 20px 0px;
    
}
.child{
    height: 300px;
    width: 250px;
    background-color: rgb(246, 150, 188);
    margin: 30px 60px;
    justify-content: space-between;
    
    

}
h3{
    text-align: center;
}
.image{
    height: 100%;
    width: 100%;
}
.author{
    margin-bottom: 20px;
    text-align: center;
    background-color:  rgb(246, 150, 188);
}
.customer{
   width: 90%;
   height: 20vh;
   background-color:  rgb(245, 185, 209);
   border-radius: 25PX;
   margin: auto;
  
   
}
h2{
    margin: 20px 0px;
}
.heading{
    margin: 0;
    padding-top: 20px;
    color:  rgb(119, 15, 56);
}
.caption{
    font-size: 20px;
    text-align: center;
     color:  rgb(75, 4, 33);
}
.authorr{
    text-align: center;
     color:  rgb(233, 147, 182);
    
}
.form{
    border: 2px solid rgb(91, 18, 62);
    border-radius: 20px;
    width: 50vh;
    height: auto;
   margin: 20px auto ;
   padding: 12px;
   display: flex;
   flex-direction: column;
   gap: 12px;
}
.radio-group {
    display: flex;
    gap: 15px;
    font-size: 14px;
}
.form input,
.form select,
.form textarea {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #555;
    font-size: 14px;
}
.submit {
    display: block;
    margin: 15px auto;
}
.thanku{
    text-align: center;
    color:  rgb(61, 9, 30);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #a0396e;
    border-radius: 20px;
    
}

.logo {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #3a0329;
}
.social_media{
    height: 50px;
    width: 900px;
    background-color: #555;
    justify-content: center;
}