*{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin: 0;
  background-color: black;
  color: white;
  overflow: hidden;
}
.main{
    display: flex;
 
    height: 100vh;
}
.sidebar{
   
    width: 350px;
    border-radius: 1rem;/*16pixels*/
    background-color: black;
}
.maincontent{
    
    flex: 1;
        border-radius: 1rem;/*16pixels*/
        overflow: auto;
        background-color: #121212;

}
.musicplayer{

   position: fixed;
   bottom: 0;
   width: 100%;
   height: 72px;
   background-color: black;
       border-radius: 1rem;/*16pixels*/

}
a{
    text-decoration: none;
    color: white;
}
.nav{
    background-color: #121212;
           border-radius: 1rem;/*16pixels*/
           display: flex;
           flex-direction: column;
           justify-content: center;
           height: 100px;
           padding: 0.5rem 0.75rem;
           
}
.navoption{
    line-height: 2.5rem;
    opacity: 0.7;
}
.navoption:hover{
    line-height: 2.5rem;
    opacity: 1;
}
.navoption i{
    font-size: 1.25rem;
}
.navoption a{
    font-size: 1rem;
}