*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-color: black;
    color: white;
}

.main{
    display: flex;
    height: 100vh;
    padding: 0.2rem;
}

.sidebar{
    width: 350px;
    padding: 0.5rem;
    background-color: #000;
    margin-right: 0.5rem;
}

.maincontent{
    flex: 1;
    background-color: #121212;
    border-radius: 1rem;
}

.musicplayer{
    position: fixed;
    bottom: 0;
    height: 72px;
    width: 100%;
    background-color: black;
}

a{
    text-decoration: none;
    color: white;
}

/* NAV */
.nav{
    background-color: #121212;
    border-radius: 1rem;
    padding: 0.75rem;
}

.navoption{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem;
    opacity: 0.7;
}

.navoption:hover{
    opacity: 1;
}

/* LIBRARY */
.library{
    background-color: #121212;
    
    border-radius: 1rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    padding: 0.75rem;
    margin-bottom: 1rem;
}

.liboption{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-left{
    display: flex;
    align-items: center;
    gap: 1rem;
    
}

.lib-left img{
    height: 1.25rem;
    width: 1.25rem;
        background-color: #232323;

}

.icons{
    display: flex;
    align-items: center;
}

.icons i{
    margin-left: 1rem;
    opacity: 0.7;
    cursor: pointer;
}

.icons i:hover{
    opacity: 1;
}
.box{
    background-color:#232323;
    height: 8rem;
    border-radius: 0.75rem;
    margin: 0.5rem 0 0.5rem 0 ;
    padding: 0.75rem 1rem;

}
.boxpara1{
    font-size: 1rem;
    font-weight: 500;
    background-color: #232323;
}
.boxpara2{
    font-size: 0.75rem;
    opacity: 0.9;
    background-color: #232323;

}
.badge{
    background-color: white;
    color: black;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin: 0.5rem;
    height: 2rem;
    width: fit-content;
}
