body{
    font-family: "montserrat",sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}
.main{
    display: flex;
}
.sidebar{
    background-color: red;
}
.maincontent{
    background-color: yellow;
}
.musicplayer{
    background-color: black;
}
