*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-color: black;
    color: white;
}

.main{
    display: flex;
    height: 100vh;
}

.sidebar{
    width: 350px;
    padding: 0.5rem;
}

.maincontent{
    flex: 1;
    background-color: #121212;
    border-radius: 1rem;
}

.musicplayer{
    position: fixed;
    bottom: 0;
    height: 72px;
    width: 100%;
    background-color: black;
}

a{
    text-decoration: none;
    color: white;
}

/* NAV */
.nav{
    background-color: #121212;
    border-radius: 1rem;
    padding: 0.75rem;
}

.navoption{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem;
    opacity: 0.7;
}

.navoption:hover{
    opacity: 1;
}

/* LIBRARY */
.library{
    background-color: #121212;
    border-radius: 1rem;
    margin-top: 1rem;
    padding: 0.75rem;
}

.liboption{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-left{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.lib-left img{
    height: 1.25rem;
    width: 1.25rem;
}

.icons{
    display: flex;
    align-items: center;
}

.icons i{
    margin-left: 1rem;
    opacity: 0.7;
    cursor: pointer;
}

.icons i:hover{
    opacity: 1;
}
